<!-- Toolbar -->
<!-- <mat-toolbar color="primary" class="app-header">
   
    <span class="nav-tool-items">
     
      <a mat-button mat-raised-button (click)="onGoBack()" routerLinkActive="active">Go Back</a>
    </span>
  </mat-toolbar> -->

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title><h3 style="color: blue;">Edit User</h3></mat-card-title>
      </mat-card-header>
     
  
      <form class="example-form" [formGroup]="editForm" (ngSubmit)=onSubmit()>
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="name" formControlName="name">
          </mat-form-field>
          <br>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="email" type="email" formControlName="email">
          </mat-form-field>
          <br>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
          <br>
  
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select formControlName="status" >
              <mat-option [value]="roles"  *ngFor="let roles of Roles" >{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
         
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block" type="submit" class="btn-block" type="submit" [disabled]="!editForm.valid">Edit</button>
  
      </form>
    </mat-card>
  </div>
