
<div class="footer">
    <hr>
    <div class="container pb-5 pt-3">

   
<div class="row">
    <div class="col-sm-9" style="font-weight: 700;">
        Bigstep Technologies Private Limited.
    </div>
    <div class="col-sm-3 ml-auto">
        2nd Floor,SCO-63,Old
    </div>
</div>

<div>
  
    Judicial Complex, Sector 15
 
</div>

<div class="row">
    <div class="col-sm-9">
        Gurgaon-122001, Haryana,India
    </div>
    <div class="col-sm-3">
        Phone No. :- 91-9414xxxx62
    </div>
</div>

<div>
  
    Email :- info@bigstep.com
 
 </div>


<div class="row">
    <div class="col-sm-9">
        CIN:UN76E82726892GVDHSVWVYBHVY
    </div>
    <div class="col-sm-3">
        http://www.bigstep.com
    </div>
</div>
</div>
</div>



